body{
    background-color: rgb(231, 216, 185);
    margin: 0;
}

.grid-container{
    display: grid;
    align-items: center;
    grid-template-columns: 50% 25% 25%;
    grid-template-rows: auto 250px auto;
}

*{
    text-align: center;
}

header{
    grid-row: 1;
    grid-column: 1 / span 3;
}

#top{
    background-color: rgb(108, 74, 62);
    color: rgb(254, 223, 176);
    margin: 0;
    top: 0;
    font-size: 150%;
    grid-gap: 0;
}

#nav{
    position: sticky;
    position: -webkit-sticky;
    background-color: rgb(108, 74, 62);
    color: rgb(254, 223, 176);
    margin: 0;
    top: 0;
    font-size: 150%;
    grid-gap: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#welcome{
    margin: 0;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#title{
    margin: 0;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#aboutUs{
    background-color: rgb(254, 223, 176);
    margin: 1em;
}

#blogMenu{
    background-color: rgb(108, 74, 62);
    margin: 1em;
}

#blogMenu > ul{
    list-style-type: none;
}

#blogRecent{
    background-colour: rgb(255, 255, 255);
    margin-left: 0;
    margin: 1em;

/* generic text- head/text, dark/light/red/grey */
    .headRed{
        color: rgb(188, 55, 12);
        margin: 0;
        font-style: italic;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .textRed{
        color: rgb(188, 55, 12);
        margin-top: 0;
        font-family: 'Cambria', Cochin, Georgia, Times, 'Times New Roman', serif;
    }

    .headLight{
        color: rgb(254, 223, 176);
        margin: 0;
        font-style: italic;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .textLight{
        color: rgb(254, 223, 176);
        margin-top: 0;
        font-family: 'Cambria', Cochin, Georgia, Times, 'Times New Roman', serif;
    }
/* changing display for ipad and up (n>501px) and pixel 2XL and down (n<500px) */

@media screen and (min-width: 501px) { /* ipad up */
    #welcome {
     position: relative;
     left: -7em;
    }
    #aboutUs {
        grid-column: 1;
        grid-row: 2;
    }
    #blogPosts{
        position: relative;
        grid-column: 2;
        grid-row: 2;
    }
    #blogRecent{
        grid-column: 3;
        grid-row: 2;
    }
 }
 
 
 
 @media screen and (max-width: 500px) { /* pixel 2XL down */
    #welcome {
     position: relative;
     text-align: center;
  }
    .grid-container{
    display: grid;
    align-items: center;
    grid-template-columns: 50% 25% 25%;
    grid-template-rows: auto 250px auto;
}
    #aboutMe{
    grid-column: 1 / span 2;
    grid-row: 2;
  }
    #blogMenu{
    grid-column: 1;
    grid-row: 3;
  }
    #blogRecent{
    grid-column: 2;
    grid-row: 3;
}
